# Ignore everything
*

# But not these files...
!*.vimrc
!*.vim
!*.bashrc
!.tmux.conf
!.gitignore
!bin/
!bin/*
!.vim/plugin
!.vim/plugin/autotags.vim
!.vim/plugin/cscope_maps.vim
!.vim/plugin/DoxygenToolkit.vim
